* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

header {
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header img{
    display: block;
    width: 10%;
    margin: auto;
}

#searchBar {
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 25px;
    outline: none;
}
section video{
    width: 100%;
    height: auto;
}
.driver-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.driver-card {
    width: 22%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.driver-card a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.driver-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

/* Couleurs des écuries */
#lewis-hamilton {
    background-color: #00D2BE; /* Couleur Mercedes */
}

#max-verstappen {
    background-color: #1E41FF; /* Couleur Red Bull */
}

#charles-leclerc {
    background-color: #DC0000; /* Couleur Ferrari */
}

#fernando-alonso {
    background-color: #006F62; /* Couleur Aston Martin */
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
